*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


::-webkit-scrollbar {
    display: none;
}

/* Custom variables */
:root {
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: hsla(177, 82%, 56%, 0.7);
    --bgHeaderFooter: rgb(51, 199, 233);
    --awesome: rgb(81, 200, 200);
    --bgCAbout: #40dddb;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgba(15, 12, 12, 0.75);
    --card-box-shadow: .5vw .5vw 1vw rgba(11, 144, 151, 0.9);
    --text-shadow: .3rem .3rem .4rem rgba(52, 208, 208, 0.5);
    --mainBg: hsla(186, 90%, 60%, 0.39);
    --bgImg: linear-gradient(to right, var(--awesome), var(--mainBg))
}

@property --top-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

/* Navbar & footer */
:is(.navbar, footer) {
    background-color: var(--bgHeaderFooter);
}

/* Navbar */
a {
    transition: all .5s;

    &:hover {
        transform: scale(1.2);
        text-decoration: underline;
        position: sticky;
    }
}

:is(.nav-link) {
    color: var(--secondary);
}

img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.photo {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    margin-top: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    color: blue;
}

p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

h1>p {
    margin-top: 70px;
}

.grid-item {
    border: 1px solid #060202;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

footer {
    background-color: #fafdfd;
    padding: 20px;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
}

/* Grid layout*/
:is(body) {
    display: grid;
    text-align: center;
}

/* Create three rows */
:is(body) {
    grid-template-rows: auto minmax(1fr, 100dvh) auto;
}

.img-thumbnail{
    height: 50px;
    width: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    

}

.firstSec {
    height: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
}

.display-3.firstH1 {
    color: rgb(140, 90, 4);
    font-size: 70px;
}

.myimg [alt="DK"] {
    height: 50vh;
    width: 100%;
}

.grid-item{
    text-align: center;
    border: 0px;
}

.grid-item h2{
    color: rgb(140, 90, 4);
}
.icons a {
    padding: 0;
    font-size: 20px;
    color: rgb(53, 93, 216);
}

  .skillsRow{
    justify-content: center;
  }

  .testRow{
    justify-content: center;
    align-items: center;
  }

  .skillsRow .card{
    min-height: 200px;
    text-align: center;
  }

  .skillsRow .testcard{
    height: 610px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
  }
  .skillsRow .testcard img{
    margin-top: 15px;
    width: calc(60.5%);
    height: calc(56.5%);
  }

  
  form input{
    border-radius: 0px;
  }

  form textarea{
    border-radius: 0px;
  }
  
  .subButton{
      font-size: 18px;
      width: 40%;
      border: 2px solid rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      border-radius: 0px;
  }
  .contact{
      text-align: left;
      font-size: clamp(3.4rem, 5vw, 6.5rem);
  }
  .deats{
    display: flex;
  }

  .mail{
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
  }

  @media screen and (width <600px){
      .contact{
          margin-top: 20%;
      }
      .contact form{
        margin-top: 10%;
      }
      .deats{
        flex-direction: column;
      }
      :is(.skillsRow .testcard, .card){
        height: auto;
      }

  }

  .card-img-top{
    height: 180px;
  }
  .pics{
    height: 250px;
    width: 250px;
  }
  
  